<form action="/auth/create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="text" class="form-control " name="Username" placeholder="User">
    </div>
    <div class="mb-3 text-danger">@Html.ValidationMessage("Username")</div>
    <div class="mb-3">
        <input type="password" class="form-control" name="Password" placeholder="Password">
    </div>
    <div class="mb-3 text-danger">@Html.ValidationMessage("Password")</div>
    <div class="mb-3">
        <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password">
    </div>
    <div class="mb-3 text-danger">@Html.ValidationMessage("ConfirmPass")</div>
    <button class="btn btn-success">Register</button>
</form>