
<form action="/auth/login" method="post">

    <div class="text-danger">@Html.ValidationMessage("Login")</div>

    <div class="mb-3">
        <label class="form-label">User</label>
        <input type="text" class="form-control" name="Username">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="Password">
    </div>
    <div class="mb-3">
        <a href="/auth/create">Register User</a>
    </div>
    <button class="btn btn-success">Login</button>
</form>